.App {
  text-align: center;
  
}
#Loading{
  animation-name: spinLoading;
  animation-duration: 5s ;
  animation-iteration-count:infinite;
  animation-timing-function: linear;
}

@keyframes spinLoading {
    0% {
        transform: rotate(0deg);
        border-radius: 0;
    }
    100% {
        transform: rotate(360deg);
        border-radius: 0;
    }
}

a{
  text-decoration: none;
  color: #000;
}
.pageTitle{
  display: flex;
  justify-content: left;
  font-size: 50px;
}
.navLine{
  display: flex;
  justify-content:space-around ;
  background-color: black;
}
#menuLine{
  color: white;
  font-size: 30px;
}



.pixArtGame{
  display: flex;
  flex-direction: row;
  align-items: center;
}

